
select {
    width: 150px;
}

table {
    margin: 0;
    padding: 0;
}

#table-wrapper {
    margin-top: 30px;
}

.checkbox-wrapper {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin: 30px;
}

.checkbox-wrapper input {
    /*margin-right: 20px;*/
}

#table-wrapper {
    /*margin: 30px;*/
}

#table-header {
    /*border:1px solid gray;*/
}

tr {
    border: 1px solid gray;
    display: flex;
    align-items: center;
}

table th, table td {
    border: 1px solid #aaa;
    width: 70px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}